<h1>{{ art() | uppercase }}</h1>

<div class="flex flex-col gap-1 ml-2 mr-2">
  <form>
    <div class="flex flex-row gap-2 items-baseline pr-2">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Filter</legend>
        <input
          type="text"
          class="input input-bordered w-full"
          placeholder="Enter filter critria"
        />
      </fieldset>
      <button class="btn btn-circle btn-outline">S</button>
    </div>
  </form>
  @if (loading()) {
    <div class="h-screen flex justify-center items-center">
      <app-spinner />
    </div>
  } @else {
    <table class="table-fixed">
      <thead class="justify-between">
        <tr class="bg-gray-200">
          <th class="px-2 py-3 text-left w-1/4 table-cell">
            <span class="text-gray-600">Code</span>
          </th>
          <th class="px-2 py-3 text-left w-1/4 table-cell">
            <span class="text-gray-600">Name</span>
          </th>
          <th class="px-2 py-3 text-left w-1/2 table-cell">
            <span class="text-gray-600">Text</span>
          </th>
          <th class="px-2 py-3 text-right w-0 table-cell">
            <button class="btn btn-circle btn-outline">A</button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (item of allItem(); track item.code) {
          <tr [title]="item.text" [class.bg-gray-100]="$index % 2 === 1">
            <td class="px-2 py-3 text-left table-cell">
              <span>{{ item.code }}</span>
            </td>
            <td class="px-2 py-3 text-left table-cell">
              <span>{{ item.name }}</span>
            </td>
            <td class="px-2 py-3 text-left table-cell">
              <span>{{ item.text }}</span>
            </td>
            <td class="px-2 py-3 table-cell">
              <div
                class="grid grid-cols-1 md:grid-cols-2 items-center gap-1 w-max"
              >
                <button class="btn btn-circle btn-outline">D</button>
                <button class="btn btn-circle btn-outline">E</button>
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td class="px-2" colspan="4">No items</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
